* {
    font-family: 'Roboto';
    padding: 0;
    margin: 0;
    /* box-sizing: border-box;   */
}

body{
    background-color: rgb(236, 194, 55);
}

header{
    background-color: cadetblue;
    width: 98%;
    height: 56px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-basis: 98%;
}

main{
    border: 2px solid rgb(3, 86, 93);
    width: 98%;
    height: auto;
    margin: 2% auto;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto 1fr 1fr ;
    column-gap: 2%;
    row-gap: 1%;
    
}

.test{
    border: 2px solid rgb(33, 126, 10);
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.title{
    top: 0;
    padding: 0;
    border: 2px solid brown;
    grid-area: 2/1;
    height: 60px;
    font-size: 1.4rem;
    font-weight: bold;
    background-color: rgb(185, 107, 133);
}
.list{
    height: fit-content;
    border: 2px solid blueviolet;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    display: flex;
    flex-direction: column;
}

iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
}

i{
    text-align: center;
    font-size: 1.4rem;
}

.logo{
    margin-left: 10px;
    height: 40px;
    width: 15%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.logo i:nth-child(2){
    margin-left: 30px;
    
}

.icons{
    margin-right: 10px;
    height: 40px;
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* .icons i:nth-child(4){
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    border: 2px solid black;
} */


i::before{
    padding: 5%;
    /* display: inline-block */
}


.search{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    width: 40%;
}

.search i{
    border: 2px solid black;
    padding: 0 10px 0 10px;
}

.search input{
    width: 100%;
}


@media (max-width:600px){

    main{
        display: flex;
        flex-direction: column;
    }


    header{
        background-color: cadetblue;
        width: 98%;
        height: 56px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-basis: 98%;
    }

    .search{
        display: flex;
        justify-content: center;
        /* align-items: center; */
        width: 80%;
    }

    .icons{
        display: none;
    }
    
    .logo{
        display: none;
    }
}

.jj{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-items: start;
    flex-wrap: nowrap;
    flex-direction: row;
    border: 2px solid rgb(56, 116, 86);
}

.jj:hover{
    cursor: pointer;
}

i:hover{
    cursor: pointer;
}

.jj p {
    padding-left: 10px;
}

